@import "tailwindcss";
@font-face {
  font-family: "Droulers";
  src: url("./fonts/DroulersTEST-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Droulers2";
  src: url("./fonts/DroulersTEST2-Regular.otf") format("opentype");
  font-weight: medium;
  font-style: normal;
}

.font-droulers {
  font-family: "Droulers", sans-serif;
}

.font-droulers2 {
  font-family: "Droulers2", sans-serif;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in-2 {
  animation: fadeIn 2s ease-in ;
}

.fade-in-3 {
  animation: fadeIn 3s ease-in ;
}

.fade-in-on-scroll {    
  opacity: 0;
  transition: opacity 2.5s ease-in;
}
.fade-in-on-scroll.visible {
  opacity: 1;
}


#glcanvas {
  width: 100vw;
  height: 100vh;
  display: block;
}


html.no-scrollbar,
body.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
html.no-scrollbar::-webkit-scrollbar,
body.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.bg-brand {
  background-color: #F1F1EF;
}


.font-droulers .absolute {
  width: 100%;
}


.font-stroke-hover {
  transition: font-family 0.1 ease-in-out;
}
.font-stroke-hover:hover {
  font-family: "Droulers2", sans-serif;
}

.inset-0 {
  inset: 0;
}